@font-face {
  font-family: 'Praktika';
  src: url(./assets/fonts/Praktika-Light.otf);
}
@font-face {
  font-family: 'Praktika-Italic';
  src: url(./assets/fonts/Praktika-LightItalic.otf);
}
@font-face {
  font-family: 'Kavaler';
  src: url(./assets/fonts/Kavaler_demo.otf);
}

html {
  scroll-behavior: smooth;
}

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Praktika', Arial, Helvetica, sans-serif;
}

h1, h2,
h3, h4 {
  font-family:'Kavaler','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  font-size: 1.8em;
}

#bioScrl,
#showcaseScrl,
#resumeScrl,
#contactScrl {
  position: absolute;
  top:-82px;
}

#Header {
  display:flex;
  width:100%;
  text-align: center;
  justify-content: center;
  position:sticky;
  top:0;
  z-index: 1;
  padding-top: 12px;
  background-color: white;
  box-sizing: border-box;
}

#Header h1 {
  margin:0;
  font-size: 4em;
  letter-spacing: -.05em;
  word-spacing: -.1em;
}

#Header button {
  position: absolute;
  margin:0;
  padding:0 5px;
  color: #213547;
  right:45px;
  top:7px;
  font-size: 2.8em;
  border: 2px solid white;
}

#Header button:hover {
  border:2px #213547 solid;
}

#Header button:focus {
  outline: none;
}

#Header button.open {
  background-color: #213547;
  color:white;
  border: #213547 2px solid;
}

#Sidebar,
#SidebarClone {
  display: none;
  flex-direction: column;
  gap:.7em;
  position:absolute;
  right:0;
  top:2.55em;
  background-color: #213547;
  font-size: 2em;
  padding:1.5em .5em;
  box-sizing: border-box;
}

#Sidebar.open {
  display: flex;
  animation: sidebar-toggle .25s forwards;
}

#SidebarClone {
  display: none;
}

#SidebarClone.closing {
  display: flex;
  animation: sidebar-toggle .25s reverse;
}

@keyframes sidebar-toggle {
  from {
    opacity: 0%;
    gap:0;
  } to {
    opacity: 100%;
    gap:.7em;
  }
}

hr {
  width:100%;
  height:1px;
  border:none;
  background-image: linear-gradient(90deg, transparent,white, transparent);
}

#Sidebar a,
#SidebarClone a {
  text-decoration: none;
  color:white;
}

#Slideshow {
  width: 100%;
  height: 625px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin-top:12px;
}

.slides-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: slideshow 20s infinite;
}

@keyframes slideshow {
  0%, 25% {
    right:0;
  } 35%, 60% {
    right:100%;
  } 70%, 95% {
    right:200%;
  } 100% {
    right:0;
  }
}

.slide {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  background-color: cadetblue;
}

.slide img {
  width:100%;
}

#Biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #213547;
  color: rgb(255, 255, 255);
  width: 100%;
  box-sizing: border-box;
  padding: 55px 0;
  background: url(../public/blue-bg.jpg);
  background-size: cover;
  position: relative;
}

#Biography h2 {
  margin: 0;
}

.bio-p {
  padding: 0 250px;
  text-indent: 1em;
  font-weight: lighter;
  font-family: 'Praktika-Italic', Georgia, "Times New Roman", Times, serif;
}

#Showcase {
  
  padding: 0 100px 50px;
  background:url(../public/jazz-club-bg.jpg) fixed;
  background-position: -400px;
  width: 100%;
  
  box-sizing: border-box;
  position: relative;
}

#Showcase h2 {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.212);
  text-shadow: .01em 0em .17em black;
  padding:0 10px;
}

.showcase-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 55px;
}

.Card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: column;
}

.Card .info {
  background:url(../public/sticky-note.png) no-repeat;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(10deg) scaleX(-1);

  padding:0 16px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Card p {
  transform: scaleX(-1);
  padding-left: 2em;
  padding-bottom: 2em;
}

.Card .video {
  background-color: azure;
  padding-bottom: 56.25%;
  position: relative;
}

iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:8px solid white;
  border-bottom: 24px solid white;
}

#card1,
#card3,
#card5 {
  grid-column: 1 / 2;
  grid-template-columns: 1fr 2fr;
}

#card2,
#card4,
#card6 {
  grid-column: 2 / 3;
}

#card2 .info,
#card4 .info,
#card6 .info {
  transform: rotate(-10deg) scaleX(1);
}

#card2 p,
#card4 p,
#card6 p {
  transform: scaleX(1);
  padding-left: 0;
  padding-bottom: 0;
}

#card1 {
  grid-row: 2 / 3;
}
#card2 {
  grid-row: 3 / 4;
}
#card3 {
  grid-row: 4 / 5;
}
#card4 {
  grid-row: 5 / 6;
}
#card5 {
  grid-row: 6 / 7;
}
#card6 {
  grid-row: 7 / 8;
}

#card1 .info,
#card3 .info,
#card5 .info {
  grid-column: 1 / 2;
  background-position: -1em -1em;
}

#resumesContactSection {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  padding: 55px 100px;
}

#Resumes {
  background-color: #213547;
  display: flex;
  color:white;
  flex-direction: column;
  align-items: start;
  padding: 20px 12px 12px 12px;
  gap:12px;
  box-sizing: border-box;
  position: relative;
}

#Resumes h2 {
  align-self: center;
  margin:0;
}

#ContactForm {
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px 12px 12px 12px;
  position: relative;
}

#Contact-Form button {
  grid-column: 1 / 3;
  justify-self: center;
}

#Contact-Form h2 {
  margin:0;
}

#Contact-Form img {
  width:1em;
}

.form-container {
  width:100%;
  display: flex;
}

.form-container form {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  column-gap: 12px;
  row-gap: 12px;
  place-content: center;
  background-color: black;
}

.form-container label {
  grid-column: 1 / 2;
  justify-self: end;
}

.form-container input {
  grid-column: 2 / 3;
}

textarea {
  resize: none;
  height:5em;
}

#Footer {
  background-color: black;
  color:white;
  width:100%;
  text-align: center;
  display: flex;
  justify-content: center;
  padding:6px 0;
  gap:3em;
}

@media (max-width: 700px) {

  #bioScrl,
#showcaseScrl,
#resumeScrl,
#contactScrl {
  top:-59px;
}

  #Header {
    justify-content: start;
    padding-left: 25px;
  }

  #Header h1 {
    font-size: 2.7em;
  }

  #Header button {
    font-size: 2.3em;
    right:15px;
    top:4px;
  }

  #Sidebar,
  #SidebarClone {
    font-size: 1.3em;
    top:2.9em;
  }

  #Slideshow {
    height:225px;
    margin-top: 0;
  }

  .bio-p {
    padding: 0 55px;
  }

  #Showcase {
    padding: 0 25px 100px;
    background-position: -700px -55px;
  }

  #Showcase h2 {
    margin-bottom: 3em;
  }

  .showcase-grid {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 175px;
  }

  .Card .info {
    font-size: .65em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  #card1, #card2,
  #card3, #card4,
  #card5, #card6 {
    grid-column: auto;
    grid-row:auto;
  }

  #resumesContactSection {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    gap:12px;
    padding:25px 20px;
  }

  #Footer {
    flex-direction: column;
    gap:0;
    font-size: .9em;
  }
}

@media (min-width: 1400px) {
  #Showcase {
    background-position: 0;
  }
}
