@font-face {
  font-family: 'Praktika';
  src: url(./assets/fonts/Praktika-Light.otf);
}
@font-face {
  font-family: 'Praktika-Italic';
  src: url(./assets/fonts/Praktika-LightItalic.otf);
}
@font-face {
  font-family: 'Kavaler';
  src: url(./assets/fonts/Kavaler_demo.otf);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Praktika', Arial, Helvetica, sans-serif;
}

h1, h2,
h3, h4 {
  font-family:'Kavaler','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
  font-size: 1.8em;
}

.Header {
  display:flex;
  width:100%;
  text-align: center;
  justify-content: center;
  position:sticky;
  top:-4px;
  z-index: 1;
  padding-top: 12px;
  background-color: white;
  box-sizing: border-box;
}

.Header h1 {
  margin:0;
  font-size: 4em;
  letter-spacing: -.05em;
  word-spacing: -.1em;
}

.Header button {
  position: absolute;
  margin:0;
  padding:0 5px;
  color: #213547;
  right:45px;
  top:7px;
  font-size: 2.8em;
  border: 2px solid white;
}

.Header button:hover {
  border:2px #213547 solid;
}

.Header button:focus {
  background-color: #213547;
  color:white;
  border: #213547 2px solid;
}

.Slideshow {
  width: 100vw;
  height: 625px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin-top:12px;
}

.slides-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: slideshow 20s infinite;
}

@keyframes slideshow {
  0%, 25% {
    right:0;
  } 35%, 60% {
    right:100vw;
  } 70%, 95% {
    right:200vw;
  } 100% {
    right:0;
  }
}

.slide {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
  background-color: cadetblue;
}

.slide img {
  width:100%;
}

.Biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #213547;
  color: rgb(255, 255, 255);
  width: 100vw;
  box-sizing: border-box;
  padding: 55px 0;
  background: url(../public/blue-bg.jpg);
  background-size: cover;
}

.Biography h2 {
  margin: 0;
}

.bio-p {
  padding: 0 250px;
  text-indent: 1em;
  font-weight: lighter;
  font-family: 'Praktika-Italic', Georgia, "Times New Roman", Times, serif;
}

.Showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 100px 50px;
  background:url(../public/jazz-club-bg.jpg) fixed;
  background-position: -400px;
  width: 100vw;
  row-gap: 55px;
  box-sizing: border-box;
}

.Showcase h2 {
  grid-column: 1 / 3;
  justify-self: center;
  text-align: center;
  color: white;
  margin-bottom:0;
  background-color: rgba(0, 0, 0, 0.212);
  text-shadow: .01em 0em .17em black;
  padding:0 10px;
}

.Card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: column;
}

.Card .info {
  background:url(../public/sticky-note.png) no-repeat;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(5deg) scaleX(-1);

  padding:0 16px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Card p {
  transform: scaleX(-1);
}

.Card .video {
  background-color: azure;
  padding-bottom: 56.25%;
  position: relative;
}

iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border:8px solid white;
  border-bottom: 24px solid white;
}

#card1,
#card3,
#card5 {
  grid-column: 1 / 2;
  grid-template-columns: 1fr 2fr;
}

#card2,
#card4,
#card6 {
  grid-column: 2 / 3;
}

#card2 .info,
#card4 .info,
#card6 .info,
#card2 p,
#card4 p,
#card6 p {
  transform: scaleX(1);
}

#card1 {
  grid-row: 2 / 3;
}
#card2 {
  grid-row: 3 / 4;
}
#card3 {
  grid-row: 4 / 5;
}
#card4 {
  grid-row: 5 / 6;
}
#card5 {
  grid-row: 6 / 7;
}
#card6 {
  grid-row: 7 / 8;
}

#card1 .info,
#card3 .info,
#card5 .info {
  grid-column: 1 / 2;
}

.resumes-contact-section {
  width: 100vw;
  box-sizing: border-box;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  padding: 55px 100px;
}

.Resumes {
  background-color: #213547;
  display: flex;
  color:white;
  flex-direction: column;
  align-items: end;
  padding: 12px 12px;
  gap:12px;
}

.Resumes h3 {
  align-self: start;
  margin:0;
}

.Contact-Form {
  background-color: black;
  color:white;
}

.Footer {
  background-color: black;
  color:white;
  width:100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  gap:3em;
}

@media (max-width: 700px) {
  .Slideshow {
    height:225px;
  }

  .bio-p {
    padding: 0 55px;
  }

  .Showcase {
    padding: 0 15px 55px;
    background-position: -700px -55px;
  }
}

@media (min-width: 1400px) {
  .Showcase {
    background-position: 0;
  }
}
